.section
	{
		text-align:center;
		font-size:medium;
		height:640px;
		width:1900px;
		border-style:solid;
		position:relative;
	}
	
.page
{
		background-color:black;
		color:white;
		
}

.best_film_title
{
	position: absolute;
	left: 120px;
	font-size:90px;
	font-style:italic;
}

.best_synopsys
{
	opacity:0;
	font-size:30px;
	position: relative;
	left: 20px;
	top:280px;
}

.best_button
{
	position: absolute;
	left: 60px;
	top:260px;
	
}

/********************************
* Basics
*********************************/
* {
    box-sizing: border-box;
}


h1 {
    font-size: 2rem;
    margin: 2rem auto 1rem;
    line-height: 1;
	color:orange;
}

h2 {
    font-size: 1.25rem;
    margin-top: 0;
}


ul {
    margin: 0 0 1.5rem;
    padding: 0;
}

li {
    display: inline-block;
}

main {
    padding: 1rem 2rem;
    margin: auto;
}

header {
    padding: 1rem 2rem;
    text-align: center;
}

.card {
    border: 1px solid #bac6d3;
    border-radius: 8px;
    padding: 1rem;
}

/********************************
* Carousel styles
*********************************/
.carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
}

.carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
}

::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}

::-webkit-scrollbar {
    height: 6px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
    background-color: #3d4852;
    border-radius: 3px;
}


/********************************
* Breakpoints
*********************************/
@media screen and (min-width: 576px) {
    .carousel-item {
        flex-basis: 300px;
    }
}

@media screen and (min-width: 992px) {

    .carousel-item {
        flex-basis: 325px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 4rem;
    }

    .carousel-item {
        flex-basis: 450px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); body{display: flex;} .fondo_transparente{ top: 0; left: 0; ; position: sticky; height: 100vh; width: 100%; display: none; } 
	.modal{ background: linear-gradient(0deg,white 70%, crimson 30%); width: 700px; height: 680px; top: 50%; left: -950px; transform: translate(-50%, -50%); position: absolute; display: flex; flex-direction: column; justify-content: space-evenly; border-radius: 30px; } 
	.modal_cerrar{ background: white; position: absolute; right: -20px; color: crimson; top: -20px; width: 40px; height: 40px; border-radius: 25px; display: flex; justify-content: center; align-items: center; cursor: pointer; } 
	.modal_titulo{ text-align:center; color: white; font-size: 40px; } 
	.modal_mensaje{ bottom:100px; padding: 10px 30px; text-align:left; } 
	.modal_botones{ width: 100%; background: whitesmoke; border-top:whitesmoke 1px; padding-top: 20px; display: flex; justify-content: space-evenly; } 
	.boton{ background: white; padding: 8px 30px; color: crimson; text-decoration: none; border-radius: 25px; border:1px solid crimson } .boton:hover{ background: crimson; color: white; }