.section
	{
		text-align:center;
		font-size:medium;
		height:640px;
		width:1500px;
		font-style:italic;
		border-style:solid;
		position:relative;
	}

.best_button
{
	position:absolute;
	bottom:170px;
	text-align:center;
	height:20px;
	left:720px;
}

.best_synopsys
{
	opacity:0;
	left:445px;
	bottom:50px;
	position:absolute;
}
.slider {
    width: 700px;
    margin: 0 auto 20px;
    text-align: center;
}

.slider .photos {
    position: relative;
    height: 333px;
}

.slider .photos img {
	width:50%;
    position: absolute;
    left: 0px;
    opacity: 0;
    transition: opacity 1s;
}

.slider .photos img.shown {
    opacity: 1;
	left:200px;
}

.prev:before,
.next:before {
  color: black;
  font-size: 100px;
  position: absolute;
  top: 15%;
  cursor: pointer;
}

.prev:before {
  content: '<';
  left: -100px;
}

.next:before {
  content: '>';
  right: -100px;
}